.top
{
    display: flex;
    justify-content: space-between;
    height:43px;
    padding: 3px;
}
nav{
    display: flex;
    text-decoration: none;
}
nav a{
      text-decoration: none; 
     color: black;
}
nav ul{
    display: flex;
}
nav li{
    display: flex;
     padding: 10px; 
}
.icons
{
    display: flex;
    
}
.heading
{
    line-height: 110.59px;
    width: 584px;
    height:222px;
    font-weight: 400;
    font-size: 96px;
}
